.table {
    text-align: center;
}

#firstJum {
    background-image: url('../../includes/downtownBlur.jpg');
    background-size: cover;
    height: 75vh;
    color: white;
    margin-bottom: 0;
}


