.table {
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
}

#firstJum {
    background-image: url('../../includes/downtownBlur.jpg');
    background-size: cover;
    height: 75vh;
    color: white;
    margin-bottom: 0;
}

#secondJum {
    background-image: url('../../locations.png');
    background-size: cover;
    height: 100vh;
    color: blueviolet;
    margin-bottom: 0;
}

#promotion {
    color: #b93aff;
}

#invoice-button {
    color:black
    text-decoration: none;
    border: 1px solid grey;
    background: linear-gradient(white, lightgrey);
    padding: 3px;
}