.table {
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
}

#firstJum {
    background-image: url('../../includes/downtownBlur.jpg');
    background-size: cover;
    height: 75vh;
    color: white;
    margin-bottom: 0;
}

#secondJum {
    background-image: url('../../locations.png');
    background-size: cover;
    height: 75vh;
    color: blueviolet;
    margin-bottom: 0;
}

#maptext {

}

